{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LibraLocate</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <!-- Load boostraps icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue-toastr2/dist/vue-toastr.css">   
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div id="app" class="container mt-5">
        <!-- Vue.js template will be rendered here -->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.min.js"></script>
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>